server:
  port: 8001
spring:
  datasource:
    # ShardingSphere 对 Driver 自定义，实现分库分表等隐藏逻辑
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    # ShardingSphere 配置文件路径
    url: jdbc:shardingsphere:classpath:shardingsphere-config-${database.env:dev}.yaml
  data:
    redis:
      host: common-redis-dev.magestack.cn
      port: 19389
      password: Sm9sVXBOYJjI030b5tz0trjpzvZzRhtZmEbv0uOImcD1wEDOPfeaqNU4PxHob/Wp

  mvc:
    view:
      prefix: /template/
      suffix: .xml
  thymeleaf:
    prefix: classpath:/template/
    suffix: .xml
    mode: HTML
    cache: false
  cloud:
    nacos:
      discovery:
        server-addr: common-nacos-dev.magestack.cn:8848
        username: nacos
        password: nacos

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    cache: false